FabricProject/azuredatafactory21.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "JsonSource",
            "formatSettings": {
              "type": "JsonReadSettings"
            },
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            }
          },
          "datasetSettings": {
            "type": "Json",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": "scripts",
                "fileName": "git.json"
              }
            },
            "schema": {},
            "linkedService": {
              "name": "lakehouseex",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "387af5a0-df40-9976-43b3-65ef491162e6",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "FileNameslkp",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('FileNameslkp').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DelimitedTextSource",
                  "formatSettings": {
                    "type": "DelimitedTextReadSettings"
                  },
                  "storeSettings": {
                    "type": "HttpReadSettings",
                    "requestMethod": "GET"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                          "value": "@item().p_rel_url",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "d41b3cba-6084-46ab-ab5c-17b3ce6ec945"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DelimitedTextSink",
                  "formatSettings": {
                    "type": "DelimitedTextWriteSettings",
                    "fileExtension": ".txt"
                  },
                  "storeSettings": {
                    "type": "LakehouseWriteSettings"
                  },
                  "datasetSettings": {
                    "type": "DelimitedText",
                    "typeProperties": {
                      "location": {
                        "type": "LakehouseLocation",
                        "folderPath": {
                          "value": "RawData@{item().p_sink_folder}",
                          "type": "Expression"
                        },
                        "fileName": {
                          "value": "@item().p_sink_file",
                          "type": "Expression"
                        }
                      },
                      "columnDelimiter": ",",
                      "quoteChar": "\"",
                      "escapeChar": "\\",
                      "firstRowAsHeader": true
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "lakehouseex",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "387af5a0-df40-9976-43b3-65ef491162e6",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Files"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "copy_data_git",
              "description": "copying files from git",
              "dependsOn": []
            }
          ]
        },
        "name": "ForAllFiles",
        "dependsOn": [
          {
            "activity": "FileNameslkp",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}